<h2 class="flex justify-center text-gray-200 tracking-wider bg-[#3778c2] w-full py-3">REGISTER</h2>

<div class='y-9/12 text-lg'>

  <%= form_for(resource, as: resource_name, data: {turbo: false}, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mt-12 text-[#434b54]">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "text-gray-400 block border border-grey-light w-full p-2 rounded mb-4" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-gray-400 block border border-grey-light w-full p-2 rounded mb-4" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "text-gray-400 block border border-grey-light w-full p-2 rounded mb-4" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-gray-400 block border border-grey-light w-full p-2 rounded mb-4" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-green-dark focus:outline-none" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
